@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Manrope:wght@200..800&display=swap');

body {
    background-color: hsl(218, 23%, 16%);
    font-family: "Manrope", serif;
    height: 100vh;
    font-weight: 800;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(217, 19%, 24%);
    border-radius: 10px;
    padding: 20px;
    max-width: 450px;
  }

.card .advice-title {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: hsl(150, 100%, 66%);
    margin-top: 30px;
}

.card .advice-content {
    color: hsl(193, 38%, 86%);
    text-align: center;
    padding: 23px;
    font-size: 23px;
}

.card picture img {
    width: 100%;
}

.card .btn-icon {
    background-color: hsl(150, 100%, 66%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    transform: translateY(85%);
}

.card .btn-icon:hover {
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0 5px 15px hsl(150, 100%, 66%);
}